.input_panel {
  width:835px;
  height:38px;
  display:flex;
  margin-top:62px;
}

@media (max-width:768px) {
  .input_panel {
    width:640px;
    height:38px;
    margin:0;
  }
}
@media (max-width:320px) {
  .input_panel {
    width:288px;
    height:38px;
  }
}
