.book_card {
  width:190px;
  height:470px;
  position:relative;
  background:#FFFFFF;

  box-shadow:0 2px 4px rgba(191, 196, 201, 0.2),0 3px 4px rgba(191, 196, 201, 0.18),0 1px 5px rgba(191, 196, 201, 0.24);
  border-radius:10px;
}
.book_card_img {
  width:174px;
  height:242px;
  margin:0 8px 16px 8px;
}
.book_card_rating {
  width:144px;
  height:24px;
  margin-left:8px;
  margin-right:38px;

  font-style:normal;
  font-weight:400;
  font-size:14px;
  line-height:18px;
  letter-spacing:0.1px;

  color:#A7A7A7;
}
.book_card_rating_star {
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:6px;
  padding-left:8px;
}
.book_card_name {
  width:174px;
  position:absolute;
  height:54px;
  left:4.21%;
  right:4.21%;
  top:306px;

  text-overflow:ellipsis;
  overflow:hidden;

  font-style:normal;
  font-weight:600;
  font-size:14px;
  line-height:18px;
  align-items:center;
  letter-spacing:0;

  color:#363636;
}
.book_card_author {
  width:159px;
  margin-bottom:28px;
  font-style:normal;
  font-weight:400;
  font-size:14px;
  line-height:18px;
  white-space:pre-line;
  display:flex;
  align-items:center;
  letter-spacing:0.1px;
  position:absolute;
  height:36px;
  left:4.21%;
  right:4.21%;
  top:359px;

  color:#727272;
}
.book_card_status {
  width:166px;
  height:40px;
  border-radius:20px;
  background:#FFFFFF;

  border:1px solid #BFC4C9;

  position:absolute;
  left:12px;
  right:12px;
  top:414px;
}
.book_list_item {
  position:relative;
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  width:825px;
  height:218px;
  margin-top:16px;
  background:#FFFFFF;
  box-shadow:0 2px 4px rgba(191, 196, 201, 0.2),0 3px 4px rgba(191, 196, 201, 0.18),0 1px 5px rgba(191, 196, 201, 0.24);
  border-radius:12px;
}
.book_inf {
  display:flex;
  flex-direction:column;
}
.book_list_item_img {
  height:170px;
  width:120px;
  margin:24px 16px;
}
.book_list_item_name {
  position:relative;
  font-style:normal;
  font-weight:700;
  font-size:22px;
  line-height:32px;
  color:#363636;
  margin-top:24px;
}
.book_list_item_rating {
  display:block;
  position:relative;
  font-style:normal;
  font-weight:400;
  font-size:14px;
  line-height:18px;
  letter-spacing:0.1px;
  padding-top:8px;
  height:24px;
  color:#A7A7A7;
}
.book_list_item_rating_star {
  display:flex;
  padding-top:8px;
}
.book_list_item_author {
  font-style:normal;
  font-weight:400;
  font-size:16px;
  line-height:24px;
  display:flex;
  align-items:center;
  letter-spacing:0.1px;
  color:#727272;
  margin-top:8px;
}
.book_rating_button {
  display:flex;
  flex-direction:row;
  margin-top:24px;
}
.book_list_item_author_status {
  width:174px;
  height:40px;
  margin-left:331px;
  border-radius:20px;
  background:#FFFFFF;

  border:1px solid #BFC4C9;
}
.active {
  background:linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
  color:white;
}
.busy {
  border:1px solid #BFC4C9;
  color:#BFC4C9;
}
@media (max-width:320px) {
  .book_card {
    width:288px;
  }
  .book_card_img {
    width:174px;
    height:242px;
    margin:0 41px;
  }
  .book_card_rating {
    margin-top:16px;
    margin-left:16px;
  }
  .book_card_name {
    font-style:normal;
    font-weight:600;
    font-size:14px;
    line-height:18px;
    width:256px;
    display:flex;
    align-items:center;
    letter-spacing:0.1px;
    color:#363636;
    top:273px;
    margin-top:16px;
  }
  .book_card_author {
    width:256px;
    font-style:normal;
    font-weight:400;
    font-size:12px;
    line-height:18px;
    display:flex;
    align-items:center;
    top:343px;
    color:#727272;
    margin-top:8px;
    margin-bottom:0;
  }
  .book_card_status {
    width:256px;
    height:40px;

    left:12px;
    right:12px;
    top:414px;
  }
  .book_card_rating_star {
    padding-top:16px;
  }
}
