.book_page_review {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  padding:0;
  gap:16px;

  width:730px;
}
.book_page_title_line {
  display:flex;
  width:78px;
  height:28px;
}
.book_page_review_title {
  font-style:normal;
  font-weight:700;
  font-size:18px;
  line-height:28px;
  display:flex;
  align-items:center;
  letter-spacing:0.1px;

  color:#363636;
}
span {
  font-style:normal;
  font-weight:400;
  font-size:14px;
  line-height:24px;
  width:8px;
  height:24px;
  letter-spacing:0.1px;

  color:#A7A7A7;
  margin-left:6px;
}
.book_page_review_line {
  width:350px;
  height:0;

  border:1px solid #EBEBEB;
}
.book_page_review_list {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  gap:42px;
  padding-top:16px;
}
